body {
  margin: 0;
  padding: 0;
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.page-container {
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.left-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 20%;
  gap: 20px;
}

.video-icon-components {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 15px;
}

.uxside-components {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}

.center {
  width: 50%;
  gap: 50px;
  display: flex;
  flex-direction: column;
}

.story-container {
  height: 250px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
}
